<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.siam.system.modular.package_goods.mapper.SettingMapper" >
  <resultMap id="BaseResultMap" type="com.siam.system.modular.package_goods.entity.Setting" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="purchase_reward_points" property="purchaseRewardPoints" jdbcType="DECIMAL" />
    <result column="registration_reward_points" property="registrationRewardPoints" jdbcType="DECIMAL" />
    <result column="new_member_coupons_id" property="newMemberCouponsId" jdbcType="INTEGER" />
    <result column="merchant_withdraw_fee" property="merchantWithdrawFee" jdbcType="DECIMAL" />
    <result column="start_delivery_price" property="startDeliveryPrice" jdbcType="DECIMAL" />
    <result column="delivery_starting_distance" property="deliveryStartingDistance" jdbcType="DECIMAL" />
    <result column="delivery_starting_price" property="deliveryStartingPrice" jdbcType="DECIMAL" />
    <result column="delivery_kilometer_price" property="deliveryKilometerPrice" jdbcType="DECIMAL" />
    <result column="delivery_distance_limit" property="deliveryDistanceLimit" jdbcType="DECIMAL" />
    <result column="order_system_extraction_ratio" property="orderSystemExtractionRatio" jdbcType="DECIMAL" />
    <result column="merchant_meal_preparation_time" property="merchantMealPreparationTime" jdbcType="DECIMAL" />
    <result column="member_withdraw_fee" property="memberWithdrawFee" jdbcType="DECIMAL" />
    <result column="registration_reward_invite_reward_amount" property="registrationRewardInviteRewardAmount" jdbcType="DECIMAL" />
    <result column="member_withdraw_meet_amount" property="memberWithdrawMeetAmount" jdbcType="DECIMAL" />
    <result column="member_withdraw_audit_threshold" property="memberWithdrawAuditThreshold" jdbcType="DECIMAL" />
    <result column="customer_service_phone" property="customerServicePhone" jdbcType="VARCHAR" />
    <result column="customer_service_wechat" property="customerServiceWechat" jdbcType="VARCHAR" />
    <result column="customer_service_wechat_qrcode" property="customerServiceWechatQrcode" jdbcType="VARCHAR" />
    <result column="freight_insurance_paid_amount" property="freightInsurancePaidAmount" jdbcType="DECIMAL" />
    <result column="invitee_consume_commission" property="inviteeConsumeCommission" jdbcType="DECIMAL" />
    <result column="caseone_own_commission" property="caseoneOwnCommission" jdbcType="DECIMAL" />
    <result column="casetwo_own_commission" property="casetwoOwnCommission" jdbcType="DECIMAL" />
    <result column="casetwo_first_level_inviter_commission" property="casetwoFirstLevelInviterCommission" jdbcType="DECIMAL" />
    <result column="casethree_own_commission" property="casethreeOwnCommission" jdbcType="DECIMAL" />
    <result column="casethree_first_level_inviter_commission" property="casethreeFirstLevelInviterCommission" jdbcType="DECIMAL" />
    <result column="casethree_second_level_inviter_commission" property="casethreeSecondLevelInviterCommission" jdbcType="DECIMAL" />
    <result column="points_mall_invitee_consume_commission" property="pointsMallInviteeConsumeCommission" jdbcType="DECIMAL" />
    <result column="points_mall_caseone_own_commission" property="pointsMallCaseoneOwnCommission" jdbcType="DECIMAL" />
    <result column="points_mall_casetwo_own_commission" property="pointsMallCasetwoOwnCommission" jdbcType="DECIMAL" />
    <result column="points_mall_casetwo_first_level_inviter_commission" property="pointsMallCasetwoFirstLevelInviterCommission" jdbcType="DECIMAL" />
    <result column="points_mall_casethree_own_commission" property="pointsMallCasethreeOwnCommission" jdbcType="DECIMAL" />
    <result column="points_mall_casethree_first_level_inviter_commission" property="pointsMallCasethreeFirstLevelInviterCommission" jdbcType="DECIMAL" />
    <result column="points_mall_casethree_second_level_inviter_commission" property="pointsMallCasethreeSecondLevelInviterCommission" jdbcType="DECIMAL" />
    <result column="invite_friends_activity_rule" property="inviteFriendsActivityRule" jdbcType="VARCHAR" />
    <result column="commission_rule" property="commissionRule" jdbcType="VARCHAR" />
    <result column="vip_rule" property="vipRule" jdbcType="VARCHAR" />
    <result column="shop_management_mode" property="shopManagementMode" jdbcType="INTEGER" />
    <result column="default_shop_id" property="defaultShopId" jdbcType="INTEGER" />
    <result column="province" property="province" jdbcType="VARCHAR" />
    <result column="city" property="city" jdbcType="VARCHAR" />
    <result column="area" property="area" jdbcType="VARCHAR" />
    <result column="street" property="street" jdbcType="VARCHAR" />
    <result column="realname" property="realname" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <resultMap id="CustomResultMap" type="java.util.Map" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="purchase_reward_points" property="purchaseRewardPoints" jdbcType="DECIMAL" />
    <result column="registration_reward_points" property="registrationRewardPoints" jdbcType="DECIMAL" />
    <result column="new_member_coupons_id" property="newMemberCouponsId" jdbcType="INTEGER" />
    <result column="default_shop_id" property="defaultShopId" jdbcType="INTEGER" />
    <result column="merchant_withdraw_fee" property="merchantWithdrawFee" jdbcType="DECIMAL" />
    <result column="start_delivery_price" property="startDeliveryPrice" jdbcType="DECIMAL" />
    <result column="delivery_starting_distance" property="deliveryStartingDistance" jdbcType="DECIMAL" />
    <result column="delivery_starting_price" property="deliveryStartingPrice" jdbcType="DECIMAL" />
    <result column="delivery_kilometer_price" property="deliveryKilometerPrice" jdbcType="DECIMAL" />
    <result column="delivery_distance_limit" property="deliveryDistanceLimit" jdbcType="DECIMAL" />
    <result column="order_system_extraction_ratio" property="orderSystemExtractionRatio" jdbcType="DECIMAL" />
    <result column="merchant_meal_preparation_time" property="merchantMealPreparationTime" jdbcType="DECIMAL" />
    <result column="member_withdraw_fee" property="memberWithdrawFee" jdbcType="DECIMAL" />
    <result column="registration_reward_invite_reward_amount" property="registrationRewardInviteRewardAmount" jdbcType="DECIMAL" />
    <result column="member_withdraw_meet_amount" property="memberWithdrawMeetAmount" jdbcType="DECIMAL" />
    <result column="member_withdraw_audit_threshold" property="memberWithdrawAuditThreshold" jdbcType="DECIMAL" />
    <result column="customer_service_phone" property="customerServicePhone" jdbcType="VARCHAR" />
    <result column="customer_service_wechat" property="customerServiceWechat" jdbcType="VARCHAR" />
    <result column="customer_service_wechat_qrcode" property="customerServiceWechatQrcode" jdbcType="VARCHAR" />
    <result column="freight_insurance_paid_amount" property="freightInsurancePaidAmount" jdbcType="DECIMAL" />
    <result column="invitee_consume_commission" property="inviteeConsumeCommission" jdbcType="DECIMAL" />
    <result column="caseone_own_commission" property="caseoneOwnCommission" jdbcType="DECIMAL" />
    <result column="casetwo_own_commission" property="casetwoOwnCommission" jdbcType="DECIMAL" />
    <result column="casetwo_first_level_inviter_commission" property="casetwoFirstLevelInviterCommission" jdbcType="DECIMAL" />
    <result column="casethree_own_commission" property="casethreeOwnCommission" jdbcType="DECIMAL" />
    <result column="casethree_first_level_inviter_commission" property="casethreeFirstLevelInviterCommission" jdbcType="DECIMAL" />
    <result column="casethree_second_level_inviter_commission" property="casethreeSecondLevelInviterCommission" jdbcType="DECIMAL" />
    <result column="points_mall_invitee_consume_commission" property="pointsMallInviteeConsumeCommission" jdbcType="DECIMAL" />
    <result column="points_mall_caseone_own_commission" property="pointsMallCaseoneOwnCommission" jdbcType="DECIMAL" />
    <result column="points_mall_casetwo_own_commission" property="pointsMallCasetwoOwnCommission" jdbcType="DECIMAL" />
    <result column="points_mall_casetwo_first_level_inviter_commission" property="pointsMallCasetwoFirstLevelInviterCommission" jdbcType="DECIMAL" />
    <result column="points_mall_casethree_own_commission" property="pointsMallCasethreeOwnCommission" jdbcType="DECIMAL" />
    <result column="points_mall_casethree_first_level_inviter_commission" property="pointsMallCasethreeFirstLevelInviterCommission" jdbcType="DECIMAL" />
    <result column="points_mall_casethree_second_level_inviter_commission" property="pointsMallCasethreeSecondLevelInviterCommission" jdbcType="DECIMAL" />
    <result column="invite_friends_activity_rule" property="inviteFriendsActivityRule" jdbcType="VARCHAR" />
    <result column="commission_rule" property="commissionRule" jdbcType="VARCHAR" />
    <result column="vip_rule" property="vipRule" jdbcType="VARCHAR" />
    <result column="shop_management_mode" property="shopManagementMode" jdbcType="INTEGER" />
    <result column="default_shop_id" property="defaultShopId" jdbcType="INTEGER" />
    <result column="province" property="province" jdbcType="VARCHAR" />
    <result column="city" property="city" jdbcType="VARCHAR" />
    <result column="area" property="area" jdbcType="VARCHAR" />
    <result column="street" property="street" jdbcType="VARCHAR" />
    <result column="realname" property="realname" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
</mapper>